---
import Project from "@components/Project/Project.astro";
import { projects } from "src/data/projectData";
---

<section class="section projects-section" id="projects-section">
  <h2 class="section__heading projects-heading">Projects</h2>
  <div class="projects">
    {
      projects.map((project) => (
        <Project
          title={project.title}
          image={project.image}
          imageClass={project.imageClass}
          description={project.description}
          stack={project.stack}
          repo={project.repo}
          prod={project.prod}
        />
      ))
    }
  </div>
</section>

<style lang="scss">
  .projects-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 5rem;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
    justify-content: center;
    padding: 20px 40px;
    min-height: 80vh;
  }
</style>
